NODE_OPTIONS=--openssl-legacy-provider
DISABLE_ESLINT_PLUGIN=true
REACT_APP_CHAIN_ID=56
REACT_APP_GTAG=
REACT_APP_NODE_1=https://bsc-dataseed1.binance.org
REACT_APP_NODE_2=https://bsc-dataseed1.binance.org
REACT_APP_NODE_3=https://bsc-dataseed1.binance.org
REACT_APP_GRAPH_API_PROFILE=https://api.thegraph.com/subgraphs/name/optimus/profile
REACT_APP_GRAPH_API_PREDICTION=https://api.thegraph.com/subgraphs/name/optimus/prediction-v2
REACT_APP_GRAPH_API_LOTTERY=https://api.thegraph.com/subgraphs/name/optimus/lottery
REACT_APP_GRAPH_API_NFT_MARKET=https://api.thegraph.com/subgraphs/name/optimus/nft-market
REACT_APP_SNAPSHOT_BASE_URL=https://hub.snapshot.org
REACT_APP_SNAPSHOT_VOTING_API=https://voting-api.optimus.info/api
REACT_APP_API_NFT=https://nft.optimus.com/api/v1
# Optional: only if using WalletConnect
# REACT_APP_WALLETCONNECT_PROJECT_ID=
# Custom domain on Vercel:
# PUBLIC_URL=https://your-domain.com
